.services-box {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.services-content h1 {
  color: blueviolet;
  font-size: 60px;
}

.services-content p {
  width: 400px;
  color: gray;
  font-weight: 500;
}

.services-btn {
  background-color: blueviolet;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 21px;
}

.services-btn1 {
  padding: 16px 32px;
  margin-left: 10px;
  border-radius: 15px;
  border-color: grey;
  color: gray;
  font-size: 21px;
  cursor: pointer;
}
